.ingrese-filtro {
  /* width: 18vw; */
  border-radius: 50px;
  padding-inline-end: 30px;
  padding-inline-start: 30px;
  height: 50px;
  padding: .375rem .75rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.page-4 .wrapper {
  max-height: 584px;
  overflow-x: hidden;
  padding-right: 5px;
  overflow-x:auto;
}

.page-4 .wrapper::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  border-radius: 20px;
  background-color: #F2F2F2;
}

.page-4 .wrapper::-webkit-scrollbar-thumb {
border-radius: 20px;
background-color: var(--primary);
}

.page-4 .table {
  font-size: 13px;
  border-left:2px solid var(--primary);
  border-right:2px solid var(--primary);
}

.page-4 thead th {
  color: #fff;
}

.page-4 th {
  border-top:2px solid var(--primary);
  border-bottom:2px solid var(--primary);
  color: var(--primary);
}

.page-4 td {
  border-top:2px solid var(--primary);
  border-bottom:2px solid var(--primary);
  color: var(--primary);
}


.page-4 .botones a {
  width: 100%;
  padding: 0;
  text-align: start;
  padding-left: 10px;
  padding-right: 20px;
}

.page-4 .botones a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.page-4 .botones a img {
  padding-right: 10px;
}

.page-4 .botones .back {
  padding-right: 10px;
}

.page-4 .botones img {
  height: 35px;
}